.entire-app {
  text-align: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

.navbar {
  margin: 0 20px;
  height: 75px;
  display: flex;
}

.navbar > a {
  padding: 15px;
  text-decoration: none;
  margin: auto;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-size: 18px;
  color: #621389;
}

.nav-header {
  text-decoration: none;
}

.logo {
  font-family: Fredericka the Great;
  font-weight: normal;
  color: #00f281;
}

.navbar .active {
  border-bottom: 2px solid #00f281;
}
