.by-genre-container {
  width: 80%;
  padding-top: 15px;
  margin: auto;
}

.genre-dropdown {
  font-size: 20px;
  font-family: Noto Sans JP;
  outline: none;
  border: none;
  background-color: #eeebeb;
  margin-bottom: 20px;
}

.by-genre-container h2 {
  font-family: Fredericka the Great;
  font-weight: normal;
  color: #5a5757;
}

/*

|Alegreya|Crimson+Text:400,600
|Fredericka+the+Great|Noto+Sans+JP|Open+Sans+Condensed:300,700" */
